{% extends 'layouts/base.html' %}

{% block title %} {{block.super}} | Crea nuovo sondaggio {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="m-b-10"> Crea un sondaggio </h3>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><em class="feather icon-home"></em></a></li>
                            <li class="breadcrumb-item"><a href="#"> Crea un sondaggio </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.hidden_alternative_count }}
            <div class="row">
                <div class="col-sm-12 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Informazioni generali</h4>
                            {% if errors.poll_title %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Attenzione!</strong> {{ errors.poll_title.0 }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                            <div class="mb-3">{{ form.poll_title }}</div>

                            <div class="mb-3">{{ form.poll_type }}</div>

                            {% if errors.poll_text %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Attenzione!</strong> {{ errors.poll_text.0 }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                            <div class="mb-3">{{ form.poll_text }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Alternative (min 2, max 10)</h4>
                            {% if errors.hidden_alternative_count %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Attenzione!</strong> {{ errors.hidden_alternative_count.0 }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endif %}
                            <div id="alternatives-rows">
                                {% for field in form.alternatives_group %}
                                <div class="input-group mb-3">
                                    {{ field }}
                                    <input type="button" class="btn btn-danger" value="-" onclick="remove_row(this)"/>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="text-center">
                                <input type="button" id="add-another" class="btn btn-secondary" onclick="add_alternative()" value="+"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="card text-center">
                      <div class="card-body">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-return-home">Torna alla home</button>
                        <button type="submit" class="btn btn-primary">Prossimo</button>
                      </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% include 'includes/modal.html' with id_modal='modal-return-home' %}

{% endblock content %}

{% block javascripts %}
<script>
    let form_count_field = document.getElementById("{{form.hidden_alternative_count.auto_id }}");
    let form_count = form_count_field.value
    let alternatives_rows = document.getElementById("alternatives-rows")
    let prototype = alternatives_rows.children[0].cloneNode(true)
    const regex = /\d+$/g

    function add_alternative() {
        if (alternatives_rows.children.length >= 10)
            return
        
        form_count++
        console.log(form_count)

        let new_alternative = prototype.cloneNode(true)

        let input = new_alternative.children[0]
        input.name = input.name.replace(regex, form_count)
        input.id = input.id.replace(regex, form_count)
        input.value = ""

        let button = new_alternative.children[1]

        alternatives_rows.append(new_alternative)
        form_count_field.value = form_count;
    }

    function remove_row(button) {
        let parent_div = button.parentNode
        if (alternatives_rows.children.length <= 2) {
            parent_div.children[0].value = ""
            return
        }

        if (parent_div.parentNode) {
            parent_div.parentNode.removeChild(parent_div)
        }
    }
</script>

{% include 'includes/lock-sidebar.html' with id_modal='modal-return-home' %}
{% endblock javascripts %}