{% extends 'layouts/base.html' %}

{% block title %} {{block.super}} | Crea nuovo sondaggio {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="m-b-10"> Crea un sondaggio </h3>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><em class="feather icon-home"></em></a></li>
                            <li class="breadcrumb-item"><a href="#"> Crea un sondaggio </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">poll_title</p>
                            <p class="card-text">poll_text</p>
                            <p class="card-text">poll_type</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">Text</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="card text-center">
                      <div class="card-body">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-return-home">Torna alla home</button>
                        <button type="submit" class="btn btn-primary">Prossimo</button>
                      </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modal-return-home" tabindex="-1" aria-labelledby="modal-return-home-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-return-home-label">Attenzione!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p> Il sondaggio che stavi creando non verrà salvato!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
          <a href="{% url 'polls:index' %}"><button type="button" class="btn btn-primary">Home</button></a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}
<script>
    let form_count = document.getElementById("{{form.hidden_alternative_count.auto_id }}").value;
</script>
{% endblock javascripts %}