{% extends 'layouts/base.html' %}

{% block title %} {{block.super}} | Crea nuovo sondaggio {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="m-b-10"> Crea un sondaggio </h3>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#"> Crea un sondaggio </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-block">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5>Inserisci i dati del tuo sondaggio</h5>
                        <br>
                        <form method="post">
                            <div class="form-group">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                <div class="table-responsive">
                                    <table class="table" style="width:100%">
                                        <tbody id="formtablebody">
                                        {% for field in form %}
                                            <tr id="{{field.name}}row" {% if 'hidden' in field.name %}style="visibility:collapse;"{% endif%}><!-- Nasconde completamente i campi con "hidden" nel nome -->
                                                <td>
                                                    <label for="{{ field.label }}">{{ field.label_tag }}</label>
                                                </td>
                                                <td>
                                                    {{ field }}
                                                </td>
                                                <td style="text-align:right">
                                                    {% if 'alternative' in field.name and 'hidden' not in field.name%}
                                                        <input type="button" name="btn" value="Elimina alternativa" class="btn btn-danger" onclick="remove_row(parseInt('{{field.name|slice:"11:12"}}'))"/>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody> 
                                    </table>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-12" style="text-align:right">
                                        <input type="button" id="add-another" class="btn btn-secondary" onclick="add_alternative()" value="Aggiungi un'altra alternativa"/>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <a href="{% url 'polls:index' %}"> <input type="button" class="btn btn-block btn-secondary" value="Annulla e torna alla home"/> </a>
                                    </div>
                                    <div class="col-sm-4" style="text-align:right">
                                        <input type="submit" id="submitformbutton" class="btn btn-primary" value="Prossimo">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    let form_count = document.getElementById("{{form.hidden_alternative_count.auto_id }}").value;

    function add_alternative(){
        form_count ++;
        
        var element = document.createElement("tr");
        element.id="alternative"+form_count+"row";
        element.innerHTML="<td>\n <label for=\"Alternativa " + form_count+"\" style=\"display:inline-block;vertical-align:middle\">Alternativa:</label>\n </td>\n <td>\n <input type=\"text\" class=\"form-control\" placeholder=\"Inserisci il testo dell'alternativa\"/ name=\"alternative"+form_count+"\" id=\"id_alternative"+form_count+"\"> <td style=\"text-align:right\"><input type=\"button\" name=\"btn\" value=\"Elimina alternativa\" class=\"btn btn-danger\" onclick=\"remove_row("+form_count+")\"\/></td>\n </td>";
        document.getElementById("formtablebody").append(element);
        // build element and append it to our forms container
        document.getElementById("{{form.hidden_alternative_count.auto_id }}").value=form_count;       
    }

    function remove_row(row_number){
        document.getElementById("{{form.alternative1.auto_id|slice:":-1"}}"+row_number).value="";
        document.getElementById("alternative"+row_number+"row").style.visibility = "collapse";
    }
</script>
{% endblock javascripts %}