{% extends 'layouts/base.html' %}

{% block title %} {{block.super}} | Aggiungi le alternative {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="m-b-10"> Inserisci le alternative </h3>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a> Crea un sondaggio </a></li>
                            <li class="breadcrumb-item"><a> Inserisci le alternative </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-block">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5>Inserisci le {{count}} alternative di scelta</h5>
                        <br>
                        <form method="post">
                            <div class="form-group">
                                {% csrf_token %}
                                <table>
                                    <tbody>
                                    {% for field in form %}
                                        <tr>
                                            <td>
                                            <label for="{{ field.label }}" style="display:inline-block;vertical-align:middle">{{ field.label_tag }}</label>
                                            </td>
                                            <td>
                                            {{ field }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody> 
                                </table>
                                <br>                         
                                <button type="submit" class="btn btn-primary"> Prossimo</button>
                            </div>
                        </form>
                        <br>
                        <a href="{% url 'polls:index' %}"> 
                            <button class="btn btn-block btn-secondary"> Annulla e torna alla home </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}