{% extends 'layouts/base.html' %}

{% block title %} {{block.super}} | Aggiungi le alternative {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="m-b-10"> Inserisci le alternative </h3>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"> Crea un sondaggio </li>
                            <li class="breadcrumb-item"> Inserisci le alternative </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-block">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5> Controlla i dati che hai inserito </h3>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm">
                                <h6> Titolo </h6>
                                <hr>
                                {{ title }}
                            </div>
                            <div class="col-sm">
                                <h6> Metodo </h6> 
                                <hr>
                                {{ type }}
                            </div>
                            <div class="col-sm">
                                <h6> Testo </h6>
                                <hr>
                                {{ text }}
                            </div>
                            <div class="col-sm">
                                <h6> Alternative </h6>
                                <hr>
                                {% for alternative in alternatives %}
                                <li>{{alternative}}</li>
                            {% endfor %}
                            </div>
                        </div>
                        <hr>
                        <h5>Opzioni aggiuntive</h5>
                        <p>WIP</p>
                        <br>  
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4" style="text-align:left">
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="submit" name="go_back" value="Torna indietro" class="btn btn-primary"/>
                                        </form>
                                    </div>
                                    <div class="col-sm-4" style="text-align:center">
                                        <button type="button" class="btn btn-block btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Torna alla home</button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLabel">Attenzione!</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p> Il sondaggio che stavi creando non verrà salvato!</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="{% url 'polls:index' %}">
                                                        <button type="button" class="btn btn-primary">Home</button>
                                                    </a>
                                                </div>
                                              </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-4" style="text-align:right">
                                        <input type="submit" class="btn btn-primary" value="Salva"/> 
                                    </div>
                                </div>
                            </div>
                        </form>                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}