{% extends 'layouts/base.html' %}

{% block title %} {{block.super}} | Hai già votato questa scelta {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row align-items-center text-center">
                        <div class="col-md-12">
                            <h1>Hai già votato!</h1>
                            <br>
                            <h5>Non puoi votare perché hai già votato in precedenza. Se vuoi, puoi vedere i risultati
                                della scelta.</h5>
                        </div>

                        <div class="col m-4">
                            <button class="btn btn-block btn-secondary" onclick="javascript:history.back()"> Torna
                                indietro </button>

                        </div>

                        <div class="col m-4">
                            <form action={% url 'polls:result' id=poll.id %}>
                                <button class="btn btn-block btn-primary"> Risultati scelta </button>
                            </form>

                        </div>

                        <div class="col m-4">
                            <form action="/">
                                <button class="btn btn-block btn-secondary"> Torna alla Home </button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}