{% extends 'layouts/base.html' %}

{% block title %} {{block.super}} | Scelta creata! {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="card">
            <div class="row align-items-center text-center">
                <div class="col-md-12">
                    <div class="card-body">
                        <h5>Perfetto! La tua scelta è stata creata.</h5>
                        <br>
                        <a class="btn btn-block btn-primary mb-4" href="/">
                            Torna alla home
                        </a>
                        <a class="btn btn-block btn-secondary mb-4" href="{% url 'polls:personal_polls' %}">
                            Scelte personali
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% if vote_type == 'tokenized' %}
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card align-items-center text-center">
                    <div class="card-header">
                        <h4>Vai alla gestione password</h4>
                    </div>
                    <div class="card-body">
                        Puoi accedere alla pagina di gestione delle password della scelta appena creata direttamente da qua, premendo sul pulsante sottostante. 
                        <br><br><br>
                        <a class="btn btn-block btn-primary mb-4" href={% url 'polls:tokens' id=id %}>Password</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card align-items-center text-center">
                    <div class="card-header">
                        <h4>Vuoi condividere la scelta?</h4>
                    </div>
                    <div class="card-body">
                        Puoi condividere la scelta appena creata, tuttavia gli utenti se proveranno a votare, otterranno un messaggio d'errore fino a quando le votazioni non saranno 
                        partite.
                        {% include 'polls/includes/social_sharing.html' %}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card align-items-center text-center">
                    <div class="card-header">
                        <h4>Vuoi condividere la scelta?</h4>
                    </div>
                    <div class="card-body">
                        Puoi condividere la scelta appena creata, tuttavia gli utenti se proveranno a votare, otterranno un messaggio d'errore fino a quando le votazioni non saranno 
                        partite.
                        {% include 'polls/includes/social_sharing.html' %}
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    var domain = 'http://{{ request.get_host }}/';
    var text = document.getElementById('pollLink');
    var link = domain + '{{code}}';
    text.value = link;
    var title = 'Scelta sociale ' + '{{title}}';
    var msg = 'Ho creato la ' + title.charAt(0).toLowerCase() + title.slice(1) + '. Visitate il link per esprimere la vostra preferenza o per vedere i risultati. Si può votare fino al giorno ' + '{{ end }}' + '. '
    socialLinks(link, msg, title)
</script>
{% endblock javascripts %}