{% extends 'layouts/base.html' %}

{% block title %} {{block.super}} | Scelte personali {% endblock title %}

{% block content %}
{% load django_bootstrap5 %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="m-b-10">Scelte personali</h3>
                            <p>In questa sezione puoi trovare le scelte in corso, in attesa di votazione e conclusi che hai creato</p>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><em class="feather icon-home"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% include 'polls/includes/poll_list.html' with object_list=object_list %}
        {% include 'polls/includes/pagination.html' with page_obj=page_obj %}
        {% include 'polls/includes/footer.html' %}
        {% include 'polls/includes/modal-delete.html' %}
        {% include 'polls/includes/modal-poll_sharing.html' %}
    </div>
</div>
{% endblock content %}