{% extends 'layouts/base.html' %}
{% load lookup_filter %}
{% block title %} {{block.super}} | Gestione codici {% endblock title %}

{% block content %}

<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Gestione dei codici</h3>
                        <p class="card-text">
                            Nella pagina corrente puoi gestire la generazione di codici e il download del file PDF per poter stampare i bigliettini da distribuire ai votanti. 
                            Il file PDF che viene generato contiene tutti i i biglietti con i codici ancora <strong>inutilizzati</strong> della scelta, suddivisi 8 per pagina. In fase di stampa, si consiglia
                            di controllare le pagine che si desidera stampare, definendo un intervallo di pagine di stampa per evitare sprechi. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Informazioni di riepilogo</h5>
                        <p>Qui puoi trovare alcune informazioni di riepilogo sulla scelta e sui codici relativi ad essa.</p>
                        <div class="row">
                            <div class="col-md-6 col-xl-3">
                              <div class="card bg-c-blue order-card">
                                <div class="card-body">
                                  <h5 class="text-white">Titolo scelta: <span class="float-end"> {{ poll.title | truncatechars:10  }} </h5>
                                  <p class="m-b-0">Data di chiusura<span class="float-end">{{ poll.end | date:"d/m/Y H:i" }}</span></p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <div class="card bg-c-yellow order-card">
                                  <div class="card-body">
                                      <h5 class="text-white">Codici generati: <span class="float-end"> {{object_list.count}} </h5>
                                  </div>
                                </div>
                              </div>
                            <div class="col-md-6 col-xl-3">
                              <div class="card bg-c-green order-card">
                                <div class="card-body">
                                  <h5 class="text-white">Codici disponibili: <span class="float-end"> {{ disponibili.count }}</h5>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                              <div class="card bg-c-red order-card">
                                <div class="card-body">
                                    <h5 class="text-white">Codici utilizzati: <span class="float-end"> {{ usati.count }}</h5>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                                <div class="input-group">
                                    <input type="number" name="n" class="form-control" placeholder="Inserisci un numero di codici da generare compreso tra 1 e 40" aria-label="Recipient's username" aria-describedby="basic-addon2" min="1" max="40" required>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-block btn-primary"> Genera </button>
                                    </div>
                                </div>
                        </form>
                        <br>
                        <a class="btn btn-block btn-secondary" href= {% url 'polls:download_tokens' id=poll.id %}> Scarica PDF </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="text-align:center">
                <a class="btn btn-block btn-primary mb-4" href="/">Torna alla home</a>
                <a class="btn btn-block btn-secondary mb-4" href="{% url 'polls:personal_polls' %}">Scelte personali</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}