{% extends 'layouts/base.html' %}

{% block title %} {{block.super}} | Grazie per la risposta! {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="row align-items-center text-center">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h1>Grazie!</h1>
                                <br>
                                <h5>La tua risposta è stata registrata!</h5>
                                <br>
                                <form action="/">
                                    <button class="btn btn-block btn-primary mb-4"> Torna alla HOME </button>
                                </form>
                                <form action={% url 'polls:result' id=poll.id %}>
                                    <button class="btn btn-block btn-primary mb-4"> Risultati scelta </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if revote %}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card align-items-center">
                        <div class="card-body text-center">
                            <h5>Vuoi esprimere la tua preferenza con un metodo diverso?</h5>
                            <a href="{% if token == '' %}{% url 'polls:vote_MJ' id=poll.id%}{% else %}{% url 'polls:vote_MJ' id=poll.id token=token%}{% endif %}" class="btn btn-block btn-primary mb-4">Giudica le alternative con il giudizio maggioritario</a>
                            <p class="card-text m-2">Il <b>giudizio maggioritario</b> è un metodo di scelta in cui
                                ogni votante esprime un giudizio per ogni alternativa.
                                I giudizi non sono numerici, ma sono delle valutazioni come "<i>ottimo</i>", "<i>buono</i>",
                                "<i>sufficiente</i>", "<i>scarso</i>" o "<i>pessimo</i>".
                                Al termine del voto, vengono combinate le valutazioni di tutti i votanti per ottenere un
                                giudizio complessivo per ogni alternativa.
                                Vince l'alternativa con il giudizio complessivo migliore.
                            </p>
                            <a href="{% url 'polls:explain_gm' %}" class="btn btn-primary btn-block">Scopri di più sul giudizio maggioritario</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        {% endif %}
    </div>
    {% include 'polls/includes/footer.html' %}
</div>
{% endblock content %}