# Python Django
# Test a Django project on multiple versions of Python.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  - dev
  - fix/*
  - feature/*

variables:
  PYTHON_VERSION: '3.10'
  DB_ENGINE: 'postgresql'
  DB_NAME: 'postgres'
  DB_USER: 'postgres'
  DB_PASSWORD: 'postgres'
  DB_HOST: 'db'
  TIME_ZONE: 'Europe/Rome'
  USE_TZ: 1


resources:
  containers:
    - container: postgres
      image: postgres:15-alpine
      volumes:
          - '/data/db:/var/lib/postgresql/data'
      env:
        POSTGRES_USER: $(DB_USER)
        POSTGRES_DB: $(DB_NAME)
        POSTGRES_PASSWORD: $(DB_PASSWORD)
    
    - container: web
      image: python:3.10-bullseye
      volumes:
        - '/code'
      ports:
        - '8000:8000'

pool:
  vmImage: ubuntu-latest

container: web
services:
  db: postgres

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    
- task: PythonScript@0
  displayName: 'Export project path'
  inputs:
    scriptSource: 'inline'
    script: |
      """Search all subdirectories for `manage.py`."""
      from glob import iglob
      from os import path
      # Python >= 3.5
      manage_py = next(iglob(path.join('**', 'manage.py'), recursive=True), None)
      if not manage_py:
          raise SystemExit('Could not find a Django project')
      project_location = path.dirname(path.abspath(manage_py))
      print('Found Django project in', project_location)
      print('##vso[task.setvariable variable=projectRoot]{}'.format(project_location))

- script: echo ##vso[task.prependpath]/home/vsts_azpcontainer/.local/bin

- script: |
    python -m pip install --upgrade pip setuptools wheel
    pip install -r requirements/dev.txt
    pip install pytest-azurepipelines
    pip install pytest-cov
  displayName: 'Install prerequisites'

- script: |
    pushd $(projectRoot)
    mypy .
  displayName: 'Run mypy lint'

- script: |
    export PATH=$PATH:/home/vsts_azpcontainer/.local/bin 
    pushd '$(projectRoot)'
    pytest --doctest-modules --junitxml=junit/test-results.xml --cov=. --cov-report=xml
  displayName: 'Run tests'

- task: PublishTestResults@2
  inputs:
    testResultsFiles: '**/test-*.xml'
    testRunTitle: 'Publish test results'
  condition: succeededOrFailed()

- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: Cobertura
    summaryFileLocation: 'coverage.xml'