{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}

{% block title %} {{block.super}} | {{ page_title }} {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="m-b-10"> {{ header }} </h3>
                            <p>{{msg}}</p>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><em class="feather icon-home"></em></li>
                            <li class="breadcrumb-item"> {{ header }} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Informazioni generali</h4>
                            {% bootstrap_form form %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="card">
                        <div class="card-body {% if formset.non_form_errors %}border border-danger rounded{% endif %}">
                            <h4 class="card-title">Alternative (minimo 2, massimo 10)</h4>
                            {{ formset.management_form }}
                            {% bootstrap_formset_errors formset %}
                            <div id="alternatives-rows">
                                {% for f in formset %}
                                <div id="form-{{forloop.counter0}}" class="input-group mb-3 {% if f.errors %}is-invalid border border-danger rounded{% endif %} {% if f.DELETE.value %}d-none{% endif %}">
                                    {% for field in f %}
                                        {{ field }}
                                    {% endfor %}
                                    <input type="button" class="btn btn-danger" value="-" onclick="remove_row(this)"/>
                                </div>
                                {% bootstrap_form_errors f %}
                                {% endfor %}
                            </div>
                            <div class="text-center">
                                <input type="button" id="add-another" class="btn btn-secondary" onclick="add_alternative()" value="Aggiungi alternativa"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <div class="col-sm-12 d-md-inline d-grid">
                        <button type="button" class="btn btn-secondary m-1" data-bs-toggle="modal" data-bs-target="#modal-return-home">Torna alla home</button>
                        <button type="submit" name="summary" class="btn btn-primary m-1">Avanti</button>
                    </div>
                </div>
            </div>
        </form>
        {% include 'polls/includes/footer.html' %}
    </div>
</div>

<div id='empty-form' class="input-group mb-3 d-none">
    {{ formset.empty_form }}
    <input type="button" class="btn btn-danger" value="-" onclick="remove_row(this)"/>
</div>
{% include 'polls/includes/modal.html' with id_modal='modal-return-home' action=action %}

{% endblock content %}

{% block javascripts %}
<script>
    const totalForms = document.getElementById('id_form-TOTAL_FORMS')
    const alternativesRows = document.querySelector("#alternatives-rows")
    let totalFormsCount = totalForms.value
    const prototype = document.getElementById("empty-form")
    const regex = /__prefix__/g

    add_alternative = () => {
        if (alternativesRows.querySelectorAll('div:not(.d-none)').length >= 10)
            return

        const copyEmptyForm = prototype.cloneNode(true)
        copyEmptyForm.innerHTML = copyEmptyForm.innerHTML.replace(regex, totalFormsCount)
        copyEmptyForm.setAttribute('id', `form-${totalFormsCount}`)
        copyEmptyForm.classList.remove('d-none')
        
        totalForms.setAttribute('value', ++totalFormsCount)
        alternativesRows.append(copyEmptyForm)
    }

    remove_row = (button) => {
        let parentDiv = button.parentNode
        if (alternativesRows.querySelectorAll('div:not(.d-none)').length <= 2) {
            parentDiv.querySelector('input[type="text"]').value = ""
            return
        }
        else {
            const id = parentDiv.id
            parentDiv.classList.add('d-none')
            document.querySelector(`#id_${id}-DELETE`).value = true
        }
    }
</script>

<script>
    create_alert = () => {
        const select = document.querySelector('#id_default_type')
        const val = select.value
        if (document.querySelector('#alert-default-type') != null)
            return
        
        const alertDiv = document.createElement('div')
        alertDiv.className = "alert alert-primary alert-dismissible fade show"
        alertDiv.setAttribute('id', 'alert-default-type')
        alertDiv.setAttribute('role', 'alert')
        alertDiv.innerHTML = 
            `Vuoi ottenere più informazioni sul giudizio maggioritario? Clicca <a href={% url 'polls:explain_gm' %} class='alert-link'>qui</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`

        const parentDiv = select.parentNode
        parentDiv.insertBefore(alertDiv, select)
    }

    document.querySelector('#id_default_type').onchange = create_alert
    create_alert()
</script>

<!-- Script to handle text change in the alert based on selected poll type in the dropdown menu -->
<script>
    const menu = document.querySelector('#id_default_type')
    const text_schultze_info = `<br> Non sai che cos' è il metodo Schulze? Clicca <a href={% url 'polls:explain_sch' %} class='alert-link'>qui</a>`
    const text_mj_info = 
        `Vuoi ottenere più informazioni sul giudizio maggioritario? Clicca <a href={% url 'polls:explain_gm' %} class='alert-link'>qui</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`
    const text_mj_suggestion = 
        `Vuoi provare un metodo alternativo? Prova il <a href={% url 'polls:explain_gm' %} class='alert-link'>giudizio maggioritario</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`
    const text_mj_suggestion_2 = 
        `Vuoi ottenere più informazioni dalla tua scelta? Prova il <a href={% url 'polls:explain_gm' %} class='alert-link'>giudizio maggioritario</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`
    menu.addEventListener("change", () => {
        const index = menu.selectedIndex
        alert = document.querySelector('#alert-default-type')
        switch(index) {
            case 0:
                alert.innerHTML = text_mj_info
                break;
            case 1:
                alert.innerHTML = text_mj_suggestion + text_schultze_info
                break;
            case 2:
                alert.innerHTML = text_mj_suggestion_2
                break;
        }
    });
    window.addEventListener("load", () => {
        const index = menu.selectedIndex
        alert = document.querySelector('#alert-default-type')
        switch(index) {
            case 0:
                alert.innerHTML = text_mj_info
                break;
            case 1:
                alert.innerHTML = text_mj_suggestion + text_schultze_info
                break;
            case 2:
                alert.innerHTML = text_mj_suggestion_2
                break;
        }
    });
</script>

{% include 'polls/includes/lock_sidebar.html' with id_modal='modal-return-home' %}

{% endblock javascripts %}