{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}

{% block title %} {{block.super}} | {{ page_title }} {% endblock title %}

{% block stylesheets %}
{{ form.media.css }}
{% endblock stylesheets %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="m-b-10"> {{ page_title }} </h3>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><i class="feather icon-home"></i></li>
                            <li class="breadcrumb-item"> Crea una scelta </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <form method="post" id="additional-options">
            {% csrf_token %}
            {{ form.author }}
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Controlla i dati che hai inserito</h5>
                            <div class="row">
                                <div class="col-xl-4 col-md-6 col-sm-12">
                                    {% bootstrap_field form.title %}
                                    {% bootstrap_field form.default_type %}
                                </div>
                                <div class="col-xl-4 col-md-6 col-sm-12">
                                    {% bootstrap_field form.text %}
                                </div>
                                <div class="col-xl-4 col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Alternative</label>
                                        <ul class="list-group">
                                            {% for alt in alternatives %}
                                            <li class="list-group-item">{{ alt }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Data votazioni</h4>
                            {% bootstrap_field form.start %}
                            {% bootstrap_field form.end %}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ mapping_form.code.label }}</h5>
                            {% bootstrap_field mapping_form.code show_label='skip' wrapper_class='input-group mb-3' addon_before=request.get_host|add:"/" %}
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                Inserisci un codice alfanumerico (maiuscole, minuscole, numeri) per rendere più facile
                                la condivisione della scelta.<br>
                                Se questo campo viene lasciato vuoto, il codice sarà generato <b>automaticamente</b>.
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ form.visibility.label }}</h5>
                            <!-- {{ form.visibility }} -->
                            <div
                                class="d-grid gap-2 d-xl-flex justify-content-xl-center flex-xl-fill mb-3 {% if f.errors %} is-invalid {% endif %}">
                                {% for radio in form.visibility %}
                                {{ radio.tag }}
                                <label
                                    class="{% if f.errors %}btn btn-outline-danger is-invalid{% else %}btn btn-outline-secondary{% endif %} w-100"
                                    for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                {% endfor %}
                            </div>
                            <div class="alert alert-primary" role="alert" id="public_alert_id" 
                            {% if form.visibility.value == 2 %} style="display: none" {% else %} style="display: block" {% endif %}>
                                <b>Pubblico</b>: la scelta sarà visibile sia nella pagina principale sia nella ricerca
                                globale. Tutti potranno votare ed accedere ai risultati.
                            </div>
                            <div class="alert alert-primary" role="alert" id="hidden_alert_id" 
                            {% if form.visibility.value == 1 %} style="display: none" {% else %} style="display: block" {% endif %}>
                                <b>Nascosto</b>: la scelta <b>non</b> non sarà visibile né nella pagina principale né
                                nella ricerca globale. Per votare e vedere i risultati sarà necessario conoscere il link
                                della scelta.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Opzioni avanzate</h5>
                            {% bootstrap_form options_form %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--- Modal -->
        <div class="form-group text-center">
            <div class="col-sm-12 d-md-inline d-grid align-middle">
                <input type="submit" form="additional-options" name="go_back" value="Torna indietro"
                    class="btn btn-primary m-1" />
                <button type="button" class="btn btn-block btn-secondary m-1" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Torna alla home</button>
                <input type="submit" form="additional-options" name="save" class="btn btn-primary m-1" value="Salva" />
            </div>
        </div>
        {% include 'polls/includes/footer.html' %}
    </div>
</div>

<form method="POST" id="go_back-form" class="d-none">
    {% csrf_token %}
</form>
{% include 'polls/includes/modal.html' with id_modal='exampleModal' %}
{% endblock content %}

{% block javascripts %}
{% include 'polls/includes/lock_sidebar.html' with id_modal='modal-return-home' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.slim.min.js"></script>
{{ form.media.js }}

<script>
    document.querySelector('#additional-options').onsubmit = event => {
        document.querySelector("#{{ form.default_type.auto_id }}").removeAttribute('disabled')
    }

    var public_alert = document.getElementById('public_alert_id')
    var hidden_alert = document.getElementById('hidden_alert_id')

    document.querySelector('#id_visibility_0').onclick = () => {
        public_alert.style.display = "block"
        hidden_alert.style.display = "none"
    }

    document.querySelector('#id_visibility_1').onclick = () => {
        public_alert.style.display = "none"
        hidden_alert.style.display = "block"
    }

</script>

{% include 'polls/includes/lock_sidebar.html' with id_modal='exampleModal' %}
{% endblock javascripts%}