<!DOCTYPE html>
<html lang="it">
{% load static %}
<head>
    
    <title> {% block title %} ScegliMeglio {% endblock title %} </title>

	<meta charset="utf-8">

    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block stylesheets %}{% endblock stylesheets %}
</head>
<body class="">

    {% include 'includes/sidebar.html' %} 
    {% include 'includes/navigation.html' %}
    {% block content %}{% endblock content %}
    {% include 'includes/scripts.html' %} 

    {% block javascripts %}{% endblock javascripts %}
</body>
</html>
