<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-blue">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse" href="#"><span></span></a>
        <a href="" class="b-brand">
            <img src="/static/img/vote.png" alt="" class="logo">
        </a>
        <span> <strong style="font-size: 25px"> Poll </strong> <strong style="font-size: 20px"> @ me </strong> </span>
        <a href="" class="mob-toggler">
            <i class="feather icon-more-vertical"></i>
        </a>
    </div>
    <div class="navbar-collapse"
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"> 
                <a href="#!" class="full-screen" onClick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a>
            </li>
        </ul>
    </div>
</header>
