<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-blue">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse" href="#"><span></span></a>
        <a href="/" class="b-brand">
            <img src="/static/img/vote.png" alt="" class="logo">
            <span> <strong style="font-size: 15px"> Scegli </strong> <strong style="font-size: 20px"> Meglio </strong> </span>
        </a>
        <a href="#" class="mob-toggler">
            <em class="feather icon-more-vertical"></em>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="#" class="pop-search"><em class="feather icon-search"></em></a>
                <div class="search-bar">
                    <input type="text" class="form-control border-0 shadow-none" placeholder="Search here">
                    <button type="button" class="btn-close" aria-label="Close">
                    </button>
                </div>
            </li>
            <a href="#!" class="full-screen" onClick="javascript:toggleFullScreen()"><em class="feather icon-maximize"></em></a>
        </ul>
    </div>
</header>
