<div class="card mb-3" style="text-align:center">
    <img class="img-fluid card-img-top" src="https://appsrv1-147a1.kxcdn.com/gradient/images/slider/img-slide-3.jpg" alt="Card Image cap">
    <div class="card-body">
        <h6 class="card-title"> {{ poll.title }} </h6>
        <a class="btn btn-block btn-primary mb-4" href={% url 'polls:vote' id=poll.id %}>Vota il sondaggio</a>
        <a class="btn btn-block btn-secondary mb-4" href={% url 'polls:result' id=poll.id %}>Vedi i risultati</a>
        <a class="btn btn-block btn-warning mb-4" href={% url 'polls:edit_poll' id=poll.id %}><em class="feather icon-edit-2"></em></a>
        <div class="btn btn-block btn-danger mb-4" onclick="delete_poll('{{ poll.id }}','{{ poll.title }}')"><em class="feather icon-trash-2"></em></div>
    </div>
    <form method="post" name="delete_poll_form_{{ poll.id }}" style="visibility:collapse;">
        {% csrf_token %}
        <input type="text" name ="delete_poll_id" value="{{ poll.id }}"/>
    </form>
</div>