<nav class="pcoded-navbar menupos-fixed menu-light ">
	<div
		class="navbar-wrapper  ">
		<div class="navbar-content scroll-div ">
			<ul class="nav pcoded-inner-navbar ">
				<li class="nav-item">
					<a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
							class="pcoded-mtext"> Dashboard </span></a>
					<a href="/create_poll" class="nav-link "><span class="pcoded-micon"><i class="feather icon-plus"></i></span><span
							class="pcoded-mtext"> Crea un sondaggio  </span></a>
				</li>
				<!-- Area utente nel menu sidebar da inserire prossimamente
				<li class="nav-item pcoded-menu-caption">
					<label>Profilo</label>
				</li>
				<li class="nav-item pcoded-hasmenu">
					<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
							class="pcoded-mtext">Authentication</span></a>
					<ul class="pcoded-submenu">
						<li><a href="/auth-signup.html" target="_blank">Sign up</a></li>
						<li><a href="/auth-signin.html" target="_blank">Sign in</a></li>
					</ul>
				</li>-->
			</ul>
		</div>
	</div>
</nav>