p {
    margin: 0 0 0.2em;
  }

  #cookiebannerModal {
    --color-highlight: #73C229FF;
    --color-button-fg: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    background: hsla(0, 0%, 0%, .5);
    font-family: Roboto, sans-serif;
  }

  #cookiebannerModal.hidden {
    display: none;
  }

  #cookiebannerModal a {
    color: var(--color-highlight);
  }

  #cookiebannerModalDialog {
    background: white;
    box-shadow: 0 0 20px 8px #000;
  }

  #cookiebannerModalHeader {
    padding: 1rem;
    border-bottom: 1px solid #e5e5e5;
  }

  #cookiebannerModalTitle {
    margin: 0 0 0.4rem;
  }

  #cookiebannerModalBody {
    padding: 1rem;
  }

  #cookiebannerModalFooter {
    padding: 1rem;
    border-top: 1px solid #e5e5e5;
    text-align: right;
  }

  #cookiebannerModalFooter .text-left {
    text-align: left;
  }

  .cookiebannerSubmit.btn {
    font-size: 1rem;
    margin: 0.2em;
    padding: 0.5em;
    background-color: #1E90FF;
    color: var(--color-button-fg);
    border: 0;
  }

  #cookiebannerModalFooterLinks {
    text-align: left;
    min-height: auto;
    margin-bottom: auto;
    display: inline-block;
    float: left;
    padding: 1rem 0;
  }

  .cookiebannerH4 {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0.56em 0;
  }

  .cookiebannerCollapse {
    display: none;
  }

  .cookiebannerCollapse.show {
    display: block;
  }

  .cookiebannerModalTable {
    font-size: 0.9rem;
    font-style: italic;
  }

  .cookiebannerModalTable td {
    padding: 0.1em 0.2em 0.1em;
  }

  /* The switch - the box around the slider */
  .switch {
    font-size: 1rem;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.375em;
    margin: 0 0.3125em 0.3125em 0;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
