<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fas fa-gem me-3"></i>HeavyWare
                    </h6>
                    <p>
                    Progetto per il corso di Ingegneria del software 2, a.a. 2022/2023
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                    Link utili
                    </h6>
                    <p>
                        <a class="btn-external" href="https://www.djangoproject.com" >Django</a>
                    </p>
                    <p>
                        <a class="btn-external" href="https://getbootstrap.com">Bootstrap</a>
                    </p>
                    <p>
                        <a class="btn-external" href="https://azure.microsoft.com/it-it/products/devops/">Azure Devops</a>
                    </p>
                    <p>
                        <a href="https://www.iubenda.com/privacy-policy/12378441" class="iubenda-white iubenda-noiframe iubenda-embed iub-legal-only iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Dai la tua opinione</h6>
                    <p>
                        <a class="btn-external" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Fd5qbmwpJEKsWByOwv1TqKlAN5HZfKxGisj0nYlJEutUQlA4UjAwWE1EUU00NTBSSTE0TlkyNDhGOCQlQCN0PWcu&embed=true">Esperienza utente</a>
                    </p>
                    <p>
                        <a class="btn-external" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Fd5qbmwpJEKsWByOwv1TqKlAN5HZfKxGisj0nYlJEutUN0RYSE5GVUkyWkxHWEMwWFRJTExRNk1NRSQlQCN0PWcu&embed=true">Problemi riscontrati</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contatti</h6>
                        <p><i class="fas fa-home me-3"></i> via delle Scienze, 206, 33100 Udine (IT)</p>
                    <p><i class="fas fa-envelope me-3"></i>paolo.coppola@uniud.it</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold">ScegliMeglio</a>
    </div>
</footer>