<div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="{{ id }}-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{ id }}-label">Attenzione!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>{{ msg }}</p>
        </div>
        <div class="modal-footer">
            <form method="POST" action="" id="delete-form-{{id}}">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="{{ confirm_message|default:"Elimina" }}">
            </form>
        </div>
      </div>
    </div>
</div>

<script>
    var confirmModal{{id}} = document.getElementById('{{ id }}')
    confirmModal{{id}}.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const form = confirmModal{{id}}.querySelector('#delete-form-{{id}}')
        form.action = button.getAttribute('data-bs-action')
    })
</script>