<div class="modal fade" id="modalAlertPollRevote" tabindex="-1" aria-labelledby="modalAlertPollRevoteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rivoto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p id="text"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            <button type="button" class="btn btn-primary">Salva</button>
        </div>
      </div>
    </div>
</div>


<script>
    var alertModal = document.getElementById('modalAlertPollRevote');
    var p = document.getElementById('text');
    alertModal.addEventListener('show.bs.modal', event => {
        var button = event.relatedTarget
        var alternative_sp = alertModal.getAttribute('data-bs-alternative_sp')
        console.log(alternative_sp)
        p.innerHTML = "Prima hai scelto " + alternative_sp + " e ora hai giudicato una o più altre alternative più rilevanti di " + alternative_sp + ". Premi sul pulsante Chiudi per rivedere i giudizi o sul pulsante Salva per confermare.";
    })
    alertModal.addEventListener('hide.bs.modal', event => {
      p.innerHTML = ""
    })
</script>