<div class="modal fade" id="modal-delete-confirm" tabindex="-1" aria-labelledby="modal-delete-confirm-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-delete-confirm-label">Attenzione!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Vuoi veramente eliminare questa {{ entity }}?</p>
        </div>
        <div class="modal-footer">
            <form method="POST" action="" id="delete-form">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Elimina">
            </form>
        </div>
      </div>
    </div>
</div>

<script>
    var confirmModal = document.getElementById('modal-delete-confirm')
    confirmModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const form = confirmModal.querySelector('#delete-form')
        form.action = button.getAttribute('data-bs-action')
    })
</script>