<div class="modal fade" id="modalPollSharing" tabindex="-1" aria-labelledby="modalPollSharinglabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Come vuoi condividere la scelta?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
          {% include 'polls/includes/social_sharing.html' %}
      </div>
    </div>
  </div>
</div>

<script>
var shareModal = document.getElementById('modalPollSharing')
var domain = 'http://{{ request.get_host }}/';
shareModal.addEventListener('show.bs.modal', event => {
    var button = event.relatedTarget
    var pollCode = button.getAttribute('data-bs-code')
    var end = button.getAttribute('data-bs-end')
    var link = domain + pollCode
    var text = document.getElementById('pollLink')
    text.value = link
    var title = 'Scelta sociale ' + button.getAttribute('data-bs-title')
    var isPublic = button.getAttribute('data-bs-public').toLowerCase() == 'true' ? true : false
    if (isPublic) {
      var msg = 'Condivido la '
    } else {
      var msg = 'Ho creato la '
    }
    msg = msg + title.charAt(0).toLowerCase() + title.slice(1) + '. Visitate il link per esprimere la vostra preferenza o per vedere i risultati. Si può votare fino al giorno ' + end + '. '
    socialLinks(link, msg, title)
})
shareModal.addEventListener('hide.bs.modal', event => {
  var text = document.getElementById('pollLink')
  text.value = domain
})
</script>