<div class="modal fade" id="modal-shultze-explanation" tabindex="-1" aria-labelledby="modal-shultze-explanation" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-return-home-label">Il metodo di Shultze</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
              Il metodo di Schulze è un metodo di voto 
              nel quale il votante ordina le alternative in base alle proprie preferenze 
              (le alternative più in alto sono preferite rispetto a quelle più in basso).
            </p>
            <p>
             Vincerà l'alternativa che ha ottenuto il maggior consenso complessivo.
            </p>
        </div>
        <div class="modal-footer">
          <a href = {% url 'polls:explain_gm'%}>
            <button type="button" class="btn btn-primary">Spiegazione</button>
          </a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
</div>