<div class="modal fade" id="modalAlertPollRevote" tabindex="-1" aria-labelledby="modalAlertPollRevoteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sei sicuro?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
            <p id="text"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Indietro</button>
            <button id="saveModal" type="click" class="btn btn-primary">Conferma</button>
        </div>
      </div>
    </div>
</div>


<script>
    const alertModal = document.getElementById('modalAlertPollRevote');
    var p = document.getElementById('text');
    if ('{{revote_type}}' == 'single_preference') {
        alertModal.addEventListener('show.bs.modal', event => {
          p.innerHTML = "Prima hai scelto <b>{{ request.session.alternative_sp }}</b> e ora hai dato ad almeno un'altra alternativa un giudizio migliore rispetto a <b>{{ request.session.alternative_sp }}</b>. Vuoi confermare comunque il rivoto?";
      })
    } else {
      const modalbody = document.getElementById('modal-body')
      var giudizi = {'1': 'Pessimo', '2': 'Scarso', '3': 'Sufficiente', '4': 'Buono', '5': 'Ottimo'}
      alertModal.addEventListener('show.bs.modal', event => {
        p.innerHTML = "Sono state rilevate delle incongruenze, evidenziate nella tabella sottostante, tra l'ordinamento scelto con il metodo Schulze e i giudizi dati alle alternative. Puoi confermare il voto o tornare indietro e cambiare giudizi.";

        //table creation
        const tbl = createTable();

        //table head
        createTableHead(tbl, "Ordinamento Schulze", "Giudizi");
        
        //table body
        var sequence_shultze = `{{sequence_shultze|safe}}`.replaceAll('\'', '').slice(1, -1).split(', ');
        const tblBody = createTableBody(sequence_shultze, JSON.parse(localStorage.getItem("alternative_judgment_dict")));
        tbl.appendChild(tblBody);

        const responsive_wrapper = document.createElement("div");
        responsive_wrapper.setAttribute("class", "table-responsive-md");
        responsive_wrapper.setAttribute("align", "center");

        responsive_wrapper.appendChild(tbl);

        //adding responsive_wrapper to modal body
        modalbody.appendChild(responsive_wrapper);
      })
      alertModal.addEventListener('hide.bs.modal', event => {
        localStorage.clear();
        modalbody.removeChild(modalbody.lastChild);
      })
    }
    const saveModal = document.getElementById('saveModal');
    saveModal.addEventListener('click', event => {
      document.getElementById('vote-form').submit()
    });


    function createTable() {
      const tbl = document.createElement("table");
      tbl.setAttribute('style', 'width:90%');
      tbl.setAttribute("class", "table table-striped");
      tbl.setAttribute("border", "3");
      return tbl;
    }

    function createTableHead(tbl, text1, text2) {
      const thead = document.createElement("thead");
      const tr = document.createElement("tr");
      const td1 = document.createElement("th");
      const td2 = document.createElement("th");
      td1.appendChild(document.createTextNode(text1));
      td2.appendChild(document.createTextNode(text2));
      tr.appendChild(td1);
      tr.appendChild(td2);
      thead.appendChild(tr);
      tbl.appendChild(thead);
    }

    function createTableBody(sequence_shultze, alternative_judgment_dict) {
      const tblBody = document.createElement("tbody");
      var mustBeRed = false
      for (var i = 0; i < sequence_shultze.length; i++) {
        var alternative = sequence_shultze[i];
        const row = document.createElement("tr");
        const cell1 = document.createElement("td");
        const cellText1 = document.createTextNode(sequence_shultze[i]);
        cell1.appendChild(cellText1);
        row.appendChild(cell1);

        const cell2 = document.createElement("td");
        const cellText2 = document.createTextNode(giudizi[alternative_judgment_dict[alternative]]);

        if (mustBeRed) {
          mustBeRed=false;
          row.style.backgroundColor = "#F58770";
        }

        if (i<sequence_shultze.length-1 && alternative_judgment_dict[alternative]<alternative_judgment_dict[sequence_shultze[i+1]]){
          mustBeRed=true;
          row.style.backgroundColor = "#F58770";
        }
        cell2.appendChild(cellText2);
        row.appendChild(cell2);

        tblBody.appendChild(row);

      }
      return tblBody;
    }
</script>