{% load socialaccount %}
{% load account %}
{% load static %}

<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-blue">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse" href="#"><span></span></a>
        <a href="/" class="b-brand">
            <img src="{% static 'img/vote.png' %}" alt="" class="logo">
            <span> <strong style="font-size: 15px"> Scegli </strong> <strong style="font-size: 20px"> Meglio </strong> </span>
        </a>
        <a href="#" class="mob-toggler">
            <em class="feather icon-more-vertical"></em>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="#" class="pop-search" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Voto con codice"><em class="feather icon-edit"></em></a>
                <div class="search-bar">
                    <form method="POST" action="{% url 'polls:vote_code' %}">
                        {% csrf_token %}
                        <input type="text" name="code" class="form-control border-0 shadow-none" placeholder="Inserisci l'ID di un sondaggio e premi invio">
                        <button type="button" class="btn-close" aria-label="Close">
                        <input type="submit" hidden="true" />
                    </form>
                    </button>
                </div>
            </li>
            <a href="#!" class="full-screen" onClick="javascript:toggleFullScreen()"><em class="feather icon-maximize"></em></a>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li>
                <div class="dropdown drp-user">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                        <img src="{% static '/img/absent.jpg' %}" class="img-radius wid-40"
                            alt="User-Profile-Image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end profile-notification">
                        <div class="pro-head">
                            <img src="{% static '/img/absent.jpg' %}" class="img-radius"
                                alt="User-Profile-Image">
                            <span>{% user_display user %}</span>
                        </div>
                        <ul class="pro-body">
                            <li>
                                <a href="{% url 'account_logout' %}" class="dropdown-item"><i class="feather icon-lock"></i> Logout</a>
                            </li>
                            <li>
                                <a href="{% provider_login_url 'google' %}" class="dropdown-item"><i class="feather icon-lock"></i> Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>