<nav>
    <ul class="pagination d-flex flex-wrap justify-content-center">
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}" class="page-link">Indietro</a>
        </li>
        {% for page in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == page %}active{% endif %}">
            <a href="?page={{ page }}" class="page-link">{{ page }}</a>
        </li>
        {% endfor %}
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}" class="page-link">Avanti</a>
        </li>
    </ul>
</nav>