{% load account %}

<h5 class="mt-4">Riepilogo</h5>
    <hr>

    <div class="row">
      <div class="col-12">
        <div class="card text-white bg-info">
          <div class="card-body">
            <h6 class="text-white">Info sondaggio:</h6>
            <h2 class="text-end text-white"><em class="feather icon-info float-start"></em><span>{{poll.title}}</span>
            </h2>
            <p class="m-b-0"><span class="float-end">{{poll.text}}</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-xl-3">
        <div class="card bg-c-blue order-card">
          <div class="card-body">
            <h6 class="text-white">Data di apertura del sondaggio:</h6>
            <h2 class="text-end text-white"><em class="feather icon-calendar float-start"></em><span>{{ poll.start | date:"d/m/Y h:i" }}</span>
            </h2>
            <p class="m-b-0">Data di chiusura<span class="float-end">{{ poll.end |  date:"d/m/Y h:i" }}</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card bg-c-green order-card">
          <div class="card-body">
            <h6 class="text-white">Sondaggio creato da:</h6>
            <h2 class="text-end text-white">
              <em class="feather icon-user float-start"></em><span>{% user_display poll.author %}</span>
            </h2>
            <p class="m-b-0">Data di creazione<span class="float-end">{{ poll.creation_date |  date:"d/m/Y h:i" }}</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card bg-c-yellow order-card">
          <div class="card-body">
            <h6 class="text-white">Tipo di sondaggio</h6>
            <h2 class="text-end text-white"><em class="feather icon-lock float-start"></em><span>Pubblico</span></h2>
            <p class="m-b-0">Tipo di risposte<span class="float-end">anonime</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card bg-c-red order-card">
          <div class="card-body">
            <h6 class="text-white">Numero di risposte</h6>
            <h2 class="text-end text-white"><em class="feather icon-edit float-start"></em><span>{{poll.preference_set.count}}</span></h2>
            <p class="m-b-0">Numero di alternative<span class="float-end">{{poll.alternative_set.count}}</span></p>
          </div>
        </div>
      </div>
    </div>