<nav class="pcoded-navbar menupos-fixed menu-light">
	<div class="navbar-wrapper  ">
		<div class="navbar-content scroll-div ">
			<ul class="nav pcoded-inner-navbar">
				<li class="nav-item">
					<a href="/" class="nav-link "><span class="pcoded-micon"><em
								class="feather icon-home"></em></span><span class="pcoded-mtext"> Sondaggi pubblici </span></a>
				</li>
				<li class="nav-item">
					<a href="{% url 'polls:create_poll' %}?clean=" class="nav-link"><span class="pcoded-micon"><em
								class="feather icon-plus"></em></span><span class="pcoded-mtext"> Crea un sondaggio
						</span></a>
				</li>
				<li class="nav-item">
					<a href={% url 'polls:search_poll' %} class="nav-link"><span class="pcoded-micon"><em
								class="feather icon-filter"></em></span><span class="pcoded-mtext"> Cerca sondaggi
						</span></a>
				</li>
				<li class="nav-item">
					<a href={% url 'polls:personal_polls' %} class="nav-link "><span class="pcoded-micon"><em
								class="feather icon-user"></em></span><span class="pcoded-mtext"> I miei sondaggi </span></a>
				</li>
			</ul>
		</div>
	</div>
</nav>