{% extends 'layouts/base.html' %}

{% block title %} {{block.super}} | Sondaggio creato! {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="card">
            <div class="row align-items-center text-center">
                <div class="col-md-12">
                    <div class="card-body">
                        <h5>Perfetto! Il tuo sondaggio è stato creato.</h5>
                        <br>
                        <form action="/">
                            <button class="btn btn-block btn-primary mb-4"> Torna alla home </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}