{% extends 'layouts/base_form.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#!">{{ poll.title }}</a></li>
{% endblock breadcrumb %}

{% block poll_name %}{{ poll.title }}{% endblock poll_name %}

{% block title %} {{block.super}} | {{ poll.title }} {% endblock title %}

{% block form_card %}
<div class="card col-sm-12">
    <div class="card-body">
        {{ poll.text }}
    </div>
</div>

<form class="needs-validation" method="post" novalidate>
    {% csrf_token %}
    {{ form.management_form }}
    <div class="row">
        {% for f in form %}
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    {% for error in f.grade.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <div>{{ error }}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    <p class="fs-4 p-2">{{ f.grade.label }}</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center flex-md-fill">
                        {% for radio in f.grade %}
                        {{ radio.tag }}
                        <label class="{% if f.errors %}btn btn-outline-danger is-invalid{% else %}btn btn-outline-secondary{% endif %} w-100" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
        {% endfor %}
    </div>
    <div class="card">
        <div class="card-body">
            <button type="submit" class="btn btn-primary">Salva</button>
            <button type="reset" class="btn btn-secondary">Cancella</button>
        </div>
    </div>
</form>
{% endblock form_card %}
