{% extends 'layouts/base.html' %}

{% block title %} {{block.super}} | Sondaggi attivi {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="m-b-10">Sondaggi attivi</h3>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><em class="feather icon-home"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for type, polls in object_list %}
            <div class="col-md-6 col-xl-4">
                <h5>{{ type }}</h5>
                <hr>
                {% for poll in polls %}
                    {% include 'includes/poll_card.html' with poll=poll %}
                {% empty %}
                    {% include 'includes/no_poll_card.html' %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Attenzione!</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p> Vuoi veramente cancellare il sondaggio?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Elimina</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}

<script>
    function delete_poll(poll_id, poll_name){
        if (confirm("Vuoi veramente eliminare il sondaggio \""+poll_name+"\"?")) {
            document.forms["delete_poll_form_"+poll_id].submit();
        }
    }
</script>

{% endblock javascripts %}