{% extends 'layouts/base.html' %}

{% block title %} {{block.super}} | Sondaggi attivi {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="m-b-10">Sondaggi attivi</h3>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><em class="feather icon-home"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for poll in object_list %}
            <div class="col-sm-12 col-xl-4 col-md-6">
                {% include 'includes/poll_card.html' with poll=poll %}
            </div>
            {% endfor %}
        </div>

        {% include 'includes/pagination.html' with page_obj=page_obj %}

        <div class="modal fade" id="modalDeletePollConfirm" tabindex="-1" aria-labelledby="modalDeletePollConfirmLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Attenzione!</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p> Vuoi veramente cancellare il sondaggio?</p>
                </div>
                <div class="modal-footer">
                    <form method="POST" action="{% url 'polls:delete_poll' pk=0 %}" id="deletePollForm">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Elimina">
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}

<script>
    var confirmModal = document.getElementById('modalDeletePollConfirm')
    confirmModal.addEventListener('show.bs.modal', function(event) {
        var button = event.relatedTarget
        var pollId = button.getAttribute('data-bs-poll')
        var form = confirmModal.querySelector('#deletePollForm')
        form.action = form.action.replace(/\/\d+$/gm, `/${pollId}`)
    })
</script>

{% endblock javascripts %}