{% extends 'layouts/base.html' %}

{% block title %} {{block.super}} | Sondaggi attivi {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Sondaggi attivi</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for poll in object_list %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Hello card</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle btn-icon" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                                    <li class="dropdown-item full-card"><a href="#"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item close-card"><a href="#"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <li><a href={% url 'polls:vote' id=poll.id %}>{{ poll }}</a></li>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Non ci sono sondaggi attivi attualmente</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}