{% extends 'layouts/base.html' %}

{% block title %} {{block.super}} | Ricerca {% endblock title %}

{% block stylesheets %}
{{ form.media.css }}
{% endblock stylesheets %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="m-b-10">Cerca sondaggi</h3>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><em class="feather icon-home"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <a href="#!" onclick="bsCollapse.toggle()">Mostra/Nascondi</a>
                    </div>
                    <div class="card-body collapse show" id="search-accordion-body">
                        {% include 'includes/search_form.html' with form=form %}
                    </div>
                </div>
            </div>
        </div>

        <div id="results">
        </div>
    </div>
</div>

<div class="modal fade" id="modalDeletePollConfirm" tabindex="-1" aria-labelledby="modalDeletePollConfirmLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Attenzione!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p> Vuoi veramente cancellare il sondaggio?</p>
        </div>
        <div class="modal-footer">
            <form method="POST" action="{% url 'polls:delete_poll' pk=0 %}" id="deletePollForm">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Elimina">
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.slim.min.js"></script>
{{ form.media.js }}

<script>
    const accordion = document.querySelector('#search-accordion-body')
    var bsCollapse = new bootstrap.Collapse(accordion, {
        toggle: false
    })

    loaded = event => {
        const html = event.target.responseText

        if (html.includes('form')) {
            document.querySelector('#search-accordion-body').innerHTML = html
            document.querySelector('#results').innerHTML = ""
        } else {
            bsCollapse.hide()
            document.querySelectorAll('.is-invalid').forEach(x => {
                x.classList.remove("is-invalid");
            })
            document.querySelector('#results').innerHTML = html
        }
            
    }

    search = form => {
        document.querySelector('#results').innerHTML = 
            `
            <div class="d-flex justify-content-center">
                <div class="spinner-border m-5 text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            `
        const data = new FormData(form)
        const request = new XMLHttpRequest()
        request.open(form.method, form.action)
        request.send(data)
        request.onload = loaded
        return false
    }


    const confirmModal = document.getElementById('modalDeletePollConfirm')
    confirmModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const pollId = button.getAttribute('data-bs-poll')
        const form = confirmModal.querySelector('#deletePollForm')
        form.action = form.action.replace(/\/\d+$/gm, `/${pollId}`)
    })
</script>
{% endblock javascripts %}