{% extends 'layouts/base_form.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#!">{{ poll.title }}</a></li>
{% endblock breadcrumb %}

{% block poll_name %}{{ poll.title }}{% endblock poll_name %}

{% block title %} {{block.super}} | {{ poll.title }} {% endblock title %}

{% block form_card %}
<div class="card">
    <div class="card-body">
        {{ poll.text }}
    </div>
</div>
<form method="post" needs-validation>
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
        {% for radio in form.alternative %}
            <div class="form-check">
                {{ radio.tag }}
                <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label}}</label>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <button type="submit" class="btn btn-primary">Salva</button>
        </div>
    </div>
</form>
{% endblock form_card %}