{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load shuffle %}

{% block title %} {{ block.super }} | {{ poll.title }} {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">{{ poll.title }}</h5>
                            {{ poll.text }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-sm-12">
                <form method="post" needs-validation>
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Scegli una delle seguenti opzioni</p>
                            {% for radio in form.alternative|shuffle:poll.polloptions.random_order %}
                            {{ radio.tag }}
                            <label class="btn btn-outline-primary w-100 m-2 p-3 text-start fs-5" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                            {% endfor %}
                        </div>
                    </div>

                    {% include "polls/includes/alert-non-modify.html"%}

                    <button type="submit" class="btn btn-primary">Salva</button>
                </form>
            </div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
    {% include 'polls/includes/footer.html' %}
</div>
{% endblock content %}

