{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}

{% block title %} {{block.super}} | {{ poll.title }} {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">{{ poll.title }}</h5>
                            {{ poll.text }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-sm-12">
                {% bootstrap_alert "Non sai come funziona questa modalità di voto? Clicca <a class='alert-link' data-bs-toggle='modal' data-bs-target='#modal-majority-explanation' href='#'>qui</a> per ulteriori informazioni." %}
                <form id="vote-form" method="post">
                    {% csrf_token %}
                    {{ form.management_form }}
                    <div class="row">
                        {% for f in form %}
                        <div class="col-sm-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <p name="option" class="fs-4 p-2">{{ f.grade.label }}</p>
                                    <div class="d-grid gap-2 d-xl-flex justify-content-xl-center flex-xl-fill {% if f.errors %}is-invalid{% endif %}">
                                        {% for radio in f.grade %}
                                        {{ radio.tag }}
                                        <label class="{% if f.errors %}btn btn-outline-danger is-invalid{% else %}btn btn-outline-secondary{% endif %} w-100" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                        {% endfor %}
                                    </div>
                                    {% if f.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in f.grade.errors %}
                                            {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        {% endfor %}
                    </div>
                    <div class="col-sm-12">
                        <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAlertPollRevote" data-bs-alternative_sp="{{ request.session.alternative_sp }}">-->
                        <button type="submit" class="btn btn-primary">Salva</button>
                    </div>
                </form>
                {% include 'polls/includes/modal_spiegazione_giudizio_maggioritario.html'%}
                {% include 'polls/includes/modal-revote_alert.html' %}
            </div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
{% endblock content %}


{% block javascripts %}
<script>
    var form = document.getElementById('vote-form');
    var modal = new bootstrap.Modal(document.getElementById('modalAlertPollRevote'));
    alternative_sp = '{{request.session.alternative_sp}}';
    if (alternative_sp != '') {
        form.addEventListener('submit', event => {
            event.preventDefault()
            var numberFields = parseInt(form.querySelector('input[name="majorityopinionjudgement_set-TOTAL_FORMS"]').value)
            var dict = {}
            const formLabels = document.getElementsByName('option');
            //controllo se uno o più campi non sono stati compilati e nel caso lascio al server segnalare gli avvisi
            for (let i = 0; i < numberFields; i++) {
                if (document.querySelector(`input[name="majorityopinionjudgement_set-${i}-grade"]:checked`) == null) {
                    form.submit()
                }
            }
            for (let i = 0; i < numberFields; i++) {
                var gradeLabel = formLabels[i].innerText
                var grade = document.querySelector(`input[name="majorityopinionjudgement_set-${i}-grade"]:checked`).value
                dict[gradeLabel] = grade
            }
            var tmp = false
            var items = Object.keys(dict).forEach(function(key) {
                if (key != alternative_sp && dict[key] > dict[alternative_sp]) {
                    tmp = true
                }
            })
            if (tmp) {
                modal.show()
            } else {
                form.submit()
            }
        })
    }
</script>
{% endblock javascripts %}
