{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load shuffle %}

{% block title %} {{block.super}} | {{ poll.title }} {% endblock title %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">{{ poll.title }}</h5>
                            {{ poll.text }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-sm-12">
                {% bootstrap_alert "Non sai come funziona questa modalità di voto? Clicca <a class='alert-link' data-bs-toggle='modal' data-bs-target='#modal-majority-explanation' href='#'>qui</a> per ulteriori informazioni." %}
                <form id="vote-form" method="post">
                    {% csrf_token %}
                    {{ form.management_form }}
                    <div class="row">
                        {% for f in form|shuffle1:poll.polloptions.random_order|shuffle2:schulze_order %}
                        <div class="col-sm-12 col-md-6">
                            <div class="card">
                                <div id="card" class="card-body">
                                    <p name="option" class="fs-4 p-2">{{ f.grade.label }}</p>
                                    <div class="d-grid gap-2 d-xl-flex justify-content-xl-center flex-xl-fill {% if f.errors %}is-invalid{% endif %}">
                                        {% for radio in f.grade %}
                                        {{ radio.tag }}
                                        <label class="{% if f.errors %}btn btn-outline-danger is-invalid{% else %}btn btn-outline-secondary{% endif %} w-100" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                        {% endfor %}
                                    </div>
                                    {% if f.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in f.grade.errors %}
                                            {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        {% endfor %}
                    </div>

                    {%if poll.default_type == 1 %}
                        {% include "polls/includes/alert-non-modify.html"%}
                    {% endif %}

                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Salva</button>
                    </div>
                </form>
            </div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
    {% include 'polls/includes/footer.html' %}
</div>

{% include 'polls/includes/modal_spiegazione_giudizio_maggioritario.html'%}
{% include 'polls/includes/modal-revote_alert.html' with revote_type=request.session.revote_type sequence_shultze=request.session.sequence_shultze %}
{% endblock content %}


{% block javascripts %}
<!-- Script to handle inconsistencies in case of revote che -->
<script>
    var form = document.getElementById('vote-form');
    var modal = new bootstrap.Modal(document.getElementById('modalAlertPollRevote'));
    form.addEventListener('submit', event => {
        event.preventDefault();
        var numberFields = parseInt(form.querySelector('input[name="majorityopinionjudgement_set-TOTAL_FORMS"]').value);
        const formLabels = document.getElementsByName('option');
        //check if one or more fields are not compiled and in that case we leave the server to raise notifications 
        for (let i = 0; i < numberFields; i++) {
            if (document.querySelector(`input[name="majorityopinionjudgement_set-${i}-grade"]:checked`) == null) {
                form.submit();
            }
        }
        //builiding dictionary composed by alterantive-grade (selected as an integer)
        var alternative_judgment_dict = {};
        var card = document.querySelectorAll('#card');
        for (element of card) {
                var gradeLabel = element.firstElementChild.innerText;
                element.lastElementChild.childNodes.forEach(function(field){
                    if (field.checked) {
                        var grade = field.value;
                        alternative_judgment_dict[gradeLabel] = grade;
                    }
                });
            }
        var inconsistency = false
        if ('{{request.session.revote_type}}' == 'single_preference') {
            var items = Object.keys(alternative_judgment_dict).forEach(function(key) {
                alternative_sp = '{{ request.session.alternative_sp }}';
                if (key != alternative_sp && alternative_judgment_dict[key] > alternative_judgment_dict[alternative_sp]) {
                    inconsistency = true;
                }
            })
        } else if ('{{request.session.revote_type}}' == 'schulze_method') {
            var schulze_votes_ordered = `{{request.session.sequence_shultze|safe}}`.replaceAll('\'', '').slice(1, -1).split(', ')
            for (var i = 0; i < schulze_votes_ordered.length-1; i++) {
                if (alternative_judgment_dict[schulze_votes_ordered[i]] < alternative_judgment_dict[schulze_votes_ordered[i+1]]) {
                    localStorage.setItem("alternative_judgment_dict", JSON.stringify(alternative_judgment_dict));
                    inconsistency = true;
                    break;
                }
            }
        }
        if (inconsistency) {
                modal.show();
        } else {
            form.submit();
        }
    })
</script>
{% endblock javascripts %}
