{% load i18n %}

<div id="cookiebannerModal" class="hidden" tabindex="-1" role="dialog" aria-labelledby="cookiebannerModalLabel" aria-hidden="true">
  <div id="cookiebannerModalDialog">
    <div id="cookiebannerModalHeader">
      <h3 id="cookiebannerModalTitle"> Informativa sui cookie </h3>
      <p> Questo sito utilizza i cookie. I cookie aiutano a migliorare l'esperienza dell'utente e il nostro sito. </p>
      <p> Per continuare a usare il sito, accetta la nostra Informativa sui cookie. </p>
    </div>
    <div id="cookiebannerModalBody">
      <form id="cookiebannerForm">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked disabled>
                <h5>Essenziali</h6>
            </div>
            <hr>
      </form>
    </div>
    <div id="cookiebannerModalFooter" style="text-align:center">
      <input type="submit" name="enable_all" class="cookiebannerSubmit btn" value="{% trans 'Accetto tutti i cookie' %}">
      <br>
      <input type="submit" name="save" class="cookiebannerSubmit btn" value="{% trans 'Accetto solo i cookie selezionati' %}">
    </div>
  </div>
</div>

<script>
  const cookiegroups = JSON.parse("{{ cookiegroups_json|escapejs }}");

  document.addEventListener("DOMContentLoaded", function () {
    let keyValue = document.cookie.match('(^|;) ?cookiebanner=([^;]*)(;|$)');
    let cookiebannerCookie = keyValue ? decodeURIComponent(keyValue[2]) : null;
    if (cookiebannerCookie) return;
  
    document.getElementById("cookiebannerModal").classList.remove('hidden');
  
    document.querySelectorAll("a[data-toggle='cookiebannerCollapse']").forEach((a) => {
      a.addEventListener("click", () =>
        document.querySelector(a.hash).classList.toggle('show')
      )
    })
  
    document.querySelectorAll("input.cookiebannerSubmit").forEach((inp) => {
      inp.addEventListener("click", () => {
        let enable_cookies;
        if (inp.name === 'enable_all') {
          enable_cookies = cookiegroups.map((x) => x.id);
        } else {
          let checked_cookiegroups = Array.from(document.querySelector("#cookiebannerForm"))
            .filter((x) => x.checked).map((x) => x.name);
          enable_cookies = cookiegroups
            .filter((x) => {
              return checked_cookiegroups.includes(x.id) ? x : !x.optional;
            })
            .map((x) => x.id);
        }
        const max_age = (365 * 24 * 60 * 60);
        const secure = window.location.hostname === 'localhost' ? "" : "secure";
        document.cookie = `cookiebanner=${encodeURIComponent(enable_cookies)}; path=/; max-age=${max_age}; ${secure}`;
        location.reload();
      })
    })
  });
</script>