{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Informativa sulla privacy {% endblock %} 

{% block content %}
<div class="auth-wrapper maintance">
    <div class="container-fluid align-items-center">
        <div class="col-md-12">
            <div class="card m-4" style>
                <div class="card-header text-center">
                    <h3 class="card-title">Informativa sulla privacy</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Informativa resa ai sensi degli articoli 13-14 del GDPR 2016/679 (General Data Protection Regulation)</h6>
                </div>
                <div class="card-body">
                    <p>Gentile Signore/a,</p>
                    <p>ai sensi dell’art. del Regolamento UE n. 2016/679 (di seguito “GDPR 2016/679”), recante disposizioni a tutela delle persone e di altri soggetti rispetto al trattamento dei dati personali, desideriamo informarLa che i dati personali da Lei forniti formeranno oggetto di trattamento nel rispetto della normativa sopra richiamata e degli obblighi di riservatezza cui è tenuto il professionista.</p>

                    <h6>Finalità del Trattamento</h6>
                    <p>I dati da Lei forniti verranno utilizzati allo scopo di consentire il corretto funzionamento della piattaforma. Verranno poi raccolti dati anonimi di utilizzo della piattaforma attraverso i tag di Google Analytics al fine di analizzare il comportamento degli utenti e introdurre miglioramenti sulla base di questi.</p>

                    <h6>Modalità del Trattamento</h6>
                    <p>Il trattamento sarà svolto in forma automatizzata e/o manuale, nel rispetto di quanto previsto dall’art. 32 del GDPR 2016/679 in materia di misure di sicurezza.
                    Le segnaliamo che, nel rispetto dei principi di liceità, limitazione delle finalità e minimizzazione dei dati, ai sensi dell’art. 5 GDPR 2016/679, previo il Suo consenso libero ed esplicito, i Suoi dati personali saranno conservati per il periodo di tempo necessario per il conseguimento delle finalità per le quali sono raccolti e trattati.</p>
                    
                    <h6>Conferimento dei dati</h6>
                    <p>Il conferimento dei dati per le finalità di cui al punto 1 sono facoltativi, un eventuale rifiuto dell'autorizzazione alla raccolta dei dati essenziali comporta l'impossibilità di utilizzo della piattaforma.</p>

                    <h6>Comunicazione e diffusione dei dati</h6>
                    <p>I dati forniti potranno essere comunicati a Google Analytics.</p>

                    <h6>Titolare del trattamento</h6>
                    <p>Il titolare del trattamento dei dati personali è ...</p>
                    
                    <h6>Diritti dell’interessato</h6>
                    <p>In ogni momento, Lei potrà esercitare, ai sensi degli articoli dal 15 al 22 del Regolamento UE n. 2016/679, il diritto di:</p>
                    <ol>
                        <li>chiedere la conferma dell’esistenza o meno di propri dati personali;</li>
                        <li>ottenere le indicazioni circa le finalità del trattamento, le categorie dei dati personali, i destinatari o le categorie di destinatari a cui i dati personali sono stati o saranno comunicati e, quando possibile, il periodo di conservazione;</li>
                        <li>ottenere la rettifica e la cancellazione dei dati;</li>
                        <li>ottenere la limitazione del trattamento;</li>
                        <li>ottenere la portabilità dei dati, ossia riceverli da un titolare del trattamento, in un formato strutturato, di uso comune e leggibile da dispositivo automatico, e trasmetterli ad un altro titolare del trattamento senza impedimenti;</li>
                        <li>opporsi al trattamento in qualsiasi momento ed anche nel caso di trattamento per finalità di marketing diretto;</li>
                        <li>opporsi ad un processo decisionale automatizzato relativo alle persone siche, compresa la profilazione.</li>
                        <li>chiedere al titolare del trattamento l’accesso ai dati personali e la rettifica o la cancellazione degli stessi o la limitazione del trattamento che lo riguardano o di opporsi al loro trattamento, oltre al diritto alla portabilità dei dati;</li>
                        <li>revocare il consenso in qualsiasi momento senza pregiudicare la liceità del trattamento basata sul consenso prestato prima della revoca;</li>
                        <li>proporre reclamo a un’autorità di controllo.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}